<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cumt.ec.shop.mapper.OrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.cumt.ec.shop.entity.Org">
        <id column="org_id" property="orgId" />
        <result column="org_sn" property="orgSn" />
        <result column="org_name" property="orgName" />
        <result column="parent_org_sn" property="parentOrgSn" />
        <result column="leaf" property="leaf" />
        <result column="abbreviation" property="abbreviation" />
        <result column="director_id" property="directorId" />
        <result column="show_sequence" property="showSequence" />
        <result column="creator_id" property="creatorId" />
        <result column="creator_name" property="creatorName" />
        <result column="created_datetime" property="createdDatetime" />
        <result column="modifier_id" property="modifierId" />
        <result column="modifier_name" property="modifierName" />
        <result column="updated_datetime" property="updatedDatetime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        org_id, org_sn, org_name, parent_org_sn, leaf, abbreviation, director_id, show_sequence, creator_id, creator_name, created_datetime, modifier_id, modifier_name, updated_datetime, deleted
    </sql>

</mapper>
